<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Maker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
    <script type="text/javascript" th:src="@{/bootstrap/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/lib/css/index.css">
    <script type="text/javascript" src="../static/bootstrap/js/jquery.js"></script>
    <script type="text/javascript" src="../static/bootstrap/js/bootstrap.js"></script>
</head>
<body>
<div class="fill"></div>
<div class="page-header text-center">Test Maker</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">查询题目</div>

    <!-- List group -->
    <ul class="list-group">
        <li class="list-group-item">章节筛选</li>
        <li class="list-group-item">K 筛选</li>
    </ul>
</div>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">题目</div>

    <!-- Table -->
    <table class="table table-bordered text-center">
        <tr>
            <td>fsfsf</td>
            <td>sfsdfsaf</td>
            <td>
                <button class="btn-success">添加</button>
            </td>
        </tr>
        <tr>
            <td>fsfsf</td>
            <td>sfsdfsaf</td>
            <td>
                <button class="btn-success">添加</button>
            </td>
        </tr>
        <tr>
            <td>fsfsf</td>
            <td>sfsdfsaf</td>
            <td>
                <button class="btn-success">添加</button>
            </td>
        </tr>
    </table>
</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">添加的题目</div>

    <!-- Table -->
    <table class="table table-bordered text-center">
        <tr>
            <td>fsfsf</td>
            <td>sfsdfsaf</td>
            <td>
                <button class="btn-danger">删除</button>
                <button class="btn-default">上移</button>
                <button class="btn-default">下移</button>
            </td>
        </tr>
        <tr>
            <td>fsfsf</td>
            <td>sfsdfsaf</td>
            <td>
                <button class="btn-danger">删除</button>
                <button class="btn-default">上移</button>
                <button class="btn-default">下移</button>
            </td>
        </tr>
        <tr>
            <td>fsfsf</td>
            <td>sfsdfsaf</td>
            <td>
                <button class="btn-danger">删除</button>
                <button class="btn-default">上移</button>
                <button class="btn-default">下移</button>
            </td>
        </tr>
    </table>
</div>
</body>
</html>